@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px; padding: 0px;
}

:root{
    --fonte01: Arial, Helvetica, sans-serif;
    --fonte02: 'Sriracha', cursive;   
    --fonte03: 'Passion One', cursive;
}

html, body{
    min-height: 100vh;
    background: darkgrey;
    font-family: var(--fonte01);
}

header{
    background: black;
    text-align: center;
    color: white;
    
}

header h1 {
    font-family: var(--fonte03);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4em;
}

header p {
    font-family: var(--fonte02);
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte02);
    font-size: 1.5em;
}

.normal-text {
    background: white;
}

.img-text{
    background: #484747;
    color: white;
}

.img-text > p {
    display: inline-block;
    padding: 8px;
    background: rgb(86, 82, 82);

}

footer{
    padding: 10px;
    background: #484747;
    text-align: center;
}

footer p {
    font-weight: normal;
    font-family: var(--fonte03);
}